<div class="m-5">
    <table class="table table-bordered">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">longitude</th>
        <th scope="col">latitude</th>
        <th scope="col">Created At</th>
        <th scope="col">See in map</th>
        </tr>
    </thead>
    <tbody class="table table-striped">
        {{#each locations}}
        <tr>
        <th scope="row">1</th>
        <td>{{this.name}}</td>
        <td>{{this.lat}}</td>
        <td>{{this.long}}</td>
        <td>{{this.createdAt}}</td>
        <td><button onclick="seeMap({{this.lat}},{{this.long}})">View</button></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
<div id="map" style="width: 100%; height: 500px;"></div>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4JMhZ3Ppj23nTDI8c5Gk0BNdVzXhIykI&callback=initMap&libraries=&v=weekly"
    async></script>
<script>
    function seeMap(lat, long) {
        const myLatLng = { lat: lat, lng: long };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: myLatLng,
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "location app",
        });
    }
</script>